@media screen and (min-width: 300px) and (max-width: 500px) {
    /* Hide desktop menu on mobile */
    .box-2, .box-3{
        display: none;
    }
    .mobile-menu{
        display: block;
        position: absolute;
        right: 20px;
        top: 15px;
        font-size: 20px;
        color: #2B3544;
    }
    /* Text container */
    .text-container{
        all: initial;
        text-align: center;
        top: 50px;
        position: relative;
    }
    .text-container h2{
        font-size: 35px;
    }
    .text-container h3{
        margin: 0 20px 40px 0;
    }
}